---
import Layout from "../layouts/Layout.astro";

// Components
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";

// Icons;
import LinkedIn from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import Mail from "../components/icons/Mail.astro";
import GitHub from "../components/icons/GitHub.astro";
import Code from "../components/icons/Code.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";

// Other
import { calcXp } from "../utils";
import { githubUrl, linkedinUrl, mailTo } from "../../public/links";
import Briefcase from "../components/icons/Briefcase.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";

// const fechaInicio = "2022-09-01";
// const tiempoExperiencia = calcXp(fechaInicio);
---

<Layout
  title="Francisco's Portfolio"
  description="Hire me to build your web app. Software Engineering student. Specialized in Full-Stack Development."
>
  <main class="px-4">
    <SectionContainer class="pt-20 md:pt-44 pb-32">
      <img
        src="/img/yohappy.webp"
        alt="Me"
        class="rounded-full size-20 object-cover mb-4"
      />
      <h1
        class="text-white text-balance text-3xl md:text-4xl lg:text-5xl items-center font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hi! I'm Paco
        <div class="flex justify-center items-center">
          <a
            href={linkedinUrl}
            target="_blank"
            class="flex justify-center items-center"
          >
            <Badge>Available for work</Badge>
          </a>
        </div>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[800px]">
        <span id="experience-years"></span> years of experience. Software Engineering
        student.
        <br />
        From Colima, Mexico 🇲🇽. Specialized in building
        <span
          class="bg-gradient-to-r
          from-blue-600
          via-green-500
          to-indigo-400
          inline-block text-transparent bg-clip-text"
          >stunning applications.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 md:mt-4 flex-col md:flex-row lg:flex-row">
        <SocialPill url={linkedinUrl}>
          <LinkedIn class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill url={githubUrl}>
          <GitHub class="size-6" />
          GitHub
        </SocialPill>
        <SocialPill url={mailTo}>
          <Mail class="size-6" />
          francisco.rod2726@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <div class="space-y-24">
      <SectionContainer id="experience">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
          <Briefcase class="size-7" />
          Work Experience
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id="projects">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
          <Code class="size-7" />
          Projects
        </h2>
        <Projects />
      </SectionContainer>

      <SectionContainer id="about-me">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
          <ProfileCheck class="size-8" />
          About Me
        </h2>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>

<script>
  function calcXp(initialDate: string) {
    const currentDate = new Date();
    const start = new Date(initialDate);

    let xpYears = currentDate.getFullYear() - start.getFullYear();
    const currentMonth = currentDate.getMonth();
    const initialMonth = start.getMonth();

    if (
      currentMonth < initialMonth ||
      (currentMonth === initialMonth && currentDate.getDate() < start.getDate())
    ) {
      xpYears--;
    }

    return xpYears;
  }

  const fechaInicio = "2022-09-01";
  const tiempoExperiencia = calcXp(fechaInicio);
  const experienceYearsElement = document.getElementById("experience-years");
  if (experienceYearsElement) {
    experienceYearsElement.textContent = `+${tiempoExperiencia}`;
  }
</script>
