---
import Layout from "../layouts/Layout.astro";

// Components
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";

// Icons;
import LinkedIn from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import Mail from "../components/icons/Mail.astro";
import GitHub from "../components/icons/GitHub.astro";
import Code from "../components/icons/Code.astro";

// Other
import { calcXp } from "../utils";
import { githubUrl, linkedinUrl, mailTo } from "../../public/links";
import Briefcase from "../components/icons/Briefcase.astro";
import Projects from "../components/Projects.astro";

const fechaInicio = "2022-09-01";
const tiempoExperiencia = calcXp(fechaInicio);
---

<Layout
  title="Portfolio de Francisco"
  description="Contrátame para crear tu aplicación en la web. Estudiante de Ingeniería de Software. Especializado en el desarrollo Full-Stack"
>
  <main class="px-4">
    <SectionContainer class="pt-44 pb-32">
      <img
        src="/img/yo.webp"
        alt="paco photo"
        class="rounded-full size-20 object-cover mb-4"
      />

      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        ¡Hola! Soy Paco <div class="flex justify-center items-center">
          <a
            href={linkedinUrl}
            target="_blank"
            class="flex justify-center items-center"
          >
            <Badge>Disponible para trabajar</Badge>
          </a>
        </div>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        +{tiempoExperiencia} años desarrollando. Estudiante de Ingeniería de Software.
        <br />
        De Colima, México 🇲🇽. Especializado en crear aplicaciones
        <span
          class="bg-gradient-to-r
		  from-blue-600
		  via-green-500
		  to-indigo-400
			inline-block text-transparent bg-clip-text"
          >deslumbrantes.</span
        >
      </h2>

      <nav class="flex gap-4 mt-4 flex-col md:flex-row lg:flex-row">
        <SocialPill url={linkedinUrl}>
          <LinkedIn class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill url={githubUrl}>
          <GitHub class="size-6" />
          GitHub
        </SocialPill>
        <SocialPill url={mailTo}>
          <Mail class="size-6" />
          francisco.rod2726@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-7" />
        Proyectos
      </h2>

      <Projects />
    </SectionContainer>
  </main>
</Layout>
