---
import GitHub from "./icons/GitHub.astro";
import Python from "./icons/Python.astro";
import React from "./icons/React.astro";
import Link from "./icons/Link.astro";
import Mongo from "./icons/Mongo.astro";
import Firebase from "./icons/Firebase.astro";

import LinkButton from "./LinkButton.astro";
import MySql from "./icons/MySql.astro";
import Php from "./icons/Php.astro";
import Jquery from "./icons/Jquery.astro";
import Kotlin from "./icons/Kotlin.astro";
import Prisma from "./icons/Prisma.astro";

const tags = {
  python: {
    name: "Python",
    class: "bg-gray-900 text-white",
    icon: Python,
  },

  react: {
    name: "React",
    class: "bg-blue-200/20 text-white/85",
    icon: React,
  },

  kotlin: {
    name: "Kotlin",
    class: "bg-purple-500/20 text-white/85",
    icon: Kotlin,
  },

  prisma: {
    name: "Prisma",
    class: "bg-teal-700/20 text-white/85",
    icon: Prisma,
  },

  mongo: {
    name: "Mongo",
    class: "bg-green-500/20 text-white/85",
    icon: Mongo,
  },

  firebase: {
    name: "Firebase",
    class: "bg-orange-500/20 text-white/85",
    icon: Firebase,
  },

  mysql: {
    name: "MySQL",
    class: "bg-white/75 text-orange-600/80",
    icon: MySql,
  },

  php: {
    name: "PHP",
    class: "bg-purple-500/30 text-white/85",
    icon: Php,
  },

  jquery: {
    name: "JQuery",
    class: "bg-teal-700/20 text-white/85",
    icon: Jquery,
  },
};

const projects = [
  {
    title: "Spike - Your Pet in the Best Hands",
    description:
      "Spike is an app that lets you explore veterinary clinics and find the best one for your pet's needs. With Spike, your pet will be in the best hands.",
    image: "/img/projects/spikePics.webp",
    tags: [tags.kotlin, tags.prisma],
  },
  {
    title: "IrisLW - All Your Info at a Glance",
    description:
      "The right tool for real-time visualization and analysis of business and port-related data.",
    image: "/img/projects/irislw.webp",
    tags: [tags.react, tags.mongo],
  },
  {
    title: "RetroStep - Never Out of Style",
    description:
      "With this system, employees can provide clients with accurate and up-to-date product information. An essential tool to optimize daily operations, improve decision-making, and deliver exceptional service through efficiency and quick access.",
    github: "https://github.com/Paco-Taco/RetroStep",
    image: "/img/projects/retroStep.webp",
    tags: [tags.php, tags.mysql, tags.jquery],
  },
  {
    title: "Ni pa' la muela - A Blog of Good Taste",
    description:
      "A food review blog where the most renowned local experts share their opinions on dishes from the most iconic restaurants, and users can post their own reviews.",
    github: "https://github.com/Paco-Taco/ni-pa-la-muela-1",
    image: "/img/projects/nplm.webp",
    tags: [tags.react, tags.mongo, tags.firebase],
  },
  {
    title: "Li'l Parrot: OdySea - A Game Where You Have Fun and Save the World",
    description:
      "Li'l Parrot: OdySea is an RPG where you explore and clean up environmental waste. Based on the UN's 14th Sustainable Development Goal, this game is as fun as it is meaningful.",
    github: "https://github.com/Paco-Taco/LilParrotOdy-Sea",
    image: "/img/projects/lilParrot.webp",
    tags: [tags.python],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    projects.map(({ image, title, description, tags, github }) => (
      <article class="flex flex-col space-x-0 group md:flex-row md:space-x-8 space-y-2">
        <div class="w-full md:w-1/2 flex items-center">
          <div class="relative flex flex-col md:items-center col-span-6 row-span-6 gap-8 transition duration-500 ease-out transform overflow-clip rounded-xl sm:rounded-xl md:hover:shadow-2xl md:hover:bg-gray-600/20">
            <img
              src={image}
              alt={`Screenshot of the ${title} project`}
              class="object-cover object-top w-full transition duration-500 h-full md:scale-110 md:group-hover:scale-100"
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg flex flex-col justify-center">
          <h3 class="text-2xl font-bold text-gray-100">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-400">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-4" />
                  Code
                </LinkButton>
              )}
              {/* {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )} */}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
